<section class="light-blue lighten-5 pt-2 pb-2">
    <div class="container">
        <h3>Привет, {{name}}!</h3>

        {{#if isAuth}}
        <div class="blog_section row">
            <div class="card col m6">
                <div class="card-content">
                    <p>Введите сообщение:</p>

                    <form method="POST" action="/blog" class="send-form">
                        <div class="input-field">
                        <textarea id="textarea" class="materialize-textarea" name="message"></textarea>
                        <label for="textarea">Сообщение</label>
                        </div>
                        <button class="btn orange">Отправить</button>
                    </form>
                </div>
            </div>            
        </div>
        {{else}}
        <p class="text pt-2 pb-2">Чтобы писать сообщения, пожалуйста <a href="/login">авторизуйтесь</a>.</p>
        {{/if}}

        <div class="blog_content">
            <div class="card">
                {{#each messages}}
                    <div class="card card_inner">
                        <div class="card_edit d-none">
                            <a href="##">Править</a>
                            <a href="##">Удалить</a>
                        </div>
                        <div class="card_author">
                            {{this.username}}
                        </div>
                        <div class="card_date">
                            {{this.date}}
                        </div>
                        <div class="card_content">
                            {{this.message}}
                        </div>
                    </div>
                {{/each}}
                
            </div>
        </div>


    </div>

</section>
